@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?6a88kr');
	src: url('../fonts/icomoon.eot?6a88kr#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?6a88kr') format('truetype'),
		url('../fonts/icomoon.woff?6a88kr') format('woff'),
		url('../fonts/icomoon.svg?6a88kr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	// speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-camera .path1:before {
	content: "\e900";
}

.icon-camera .path2:before {
	content: "\e901";
}

.icon-camera .path3:before {
	content: "\e902";
}

.icon-camera .path4:before {
	content: "\e903";
}

.icon-care .path1:before {
	content: "\e904";
}

.icon-care .path2:before {
	content: "\e905";
}

.icon-care .path3:before {
	content: "\e906";
}

.icon-care .path4:before {
	content: "\e907";
}

.icon-care .path5:before {
	content: "\e908";
}

.icon-care .path6:before {
	content: "\e909";
}

.icon-care .path7:before {
	content: "\e90a";
}

.icon-care .path8:before {
	content: "\e90b";
}

.icon-care .path9:before {
	content: "\e90c";
}

.icon-care .path10:before {
	content: "\e90d";
}

.icon-care .path11:before {
	content: "\e90e";
}

.icon-career .path1:before {
	content: "\e90f";
}

.icon-career .path2:before {
	content: "\e910";
}

.icon-career .path3:before {
	content: "\e911";
}

.icon-career .path4:before {
	content: "\e912";
}

.icon-career .path5:before {
	content: "\e913";
}

.icon-career .path6:before {
	content: "\e914";
}

.icon-career .path7:before {
	content: "\e915";
}

.icon-career .path8:before {
	content: "\e916";
}

.icon-career .path9:before {
	content: "\e917";
}

.icon-career .path10:before {
	content: "\e918";
}

.icon-career .path11:before {
	content: "\e919";
}

.icon-clip:before {
	content: "\e91a";
}

.icon-com:before {
	content: "\e91b";
}

.icon-comment:before {
	content: "\e91c";
}

.icon-edit:before {
	content: "\e91d";
}

.icon-home .path1:before {
	content: "\e91e";
}

.icon-home .path2:before {
	content: "\e91f";
}

.icon-like:before {
	content: "\e920";
}

.icon-location .path1:before {
	content: "\e921";
}

.icon-location .path2:before {
	content: "\e922";
}

.icon-location .path3:before {
	content: "\e923";
}

.icon-log:before {
	content: "\e924";
}

.icon-logout:before {
	content: "\e925";
}

.icon-mail:before {
	content: "\e926";
}

.icon-media:before {
	content: "\e927";
}

.icon-notification .path1:before {
	content: "\e928";
}

.icon-notification .path2:before {
	content: "\e929";
}

.icon-notification .path3:before {
	content: "\e92a";
}

.icon-notification .path4:before {
	content: "\e92b";
}

.icon-notification .path5:before {
	content: "\e92c";
}

.icon-notify .path1:before {
	content: "\e92d";
}

.icon-notify .path2:before {
	content: "\e92e";
}

.icon-notify .path3:before {
	content: "\e92f";
}

.icon-notify .path4:before {
	content: "\e930";
}

.icon-notify .path5:before {
	content: "\e931";
}

.icon-password:before {
	content: "\e932";
}

.icon-settings:before {
	content: "\e933";
}

.icon-share:before {
	content: "\e934";
}

.icon-star:before {
	content: "\e935";
}

.icon-user1:before {
	content: "\e936";
}

.icon-user2:before {
	content: "\e937";
}

.icon-zoomin:before {
	content: "\e938";
}