@media(max-width: 768px) {
    .header {
        border-width: .25rem;

        .responsive-menu {
            .brand {
                margin: .5rem 0 .5rem;
                display: block;
            }

            .nav {
                width: 100%;
                justify-content: flex-end;
                align-items: center;

                .nav-item {
                    .nav-link {
                        padding-left: 0;

                        i {
                            font-size: 1.2rem;
                        }

                        span {
                            font-size: 1.2rem;
                        }

                        img {
                            width: 25px;
                            height: 25px;
                        }
                    }
                }

                .dropdown {
                    .dropdown-menu {
                        margin-top: 18px !important;
                        margin-left: -1rem !important;

                        .dropdown-item {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .alumni-icon {
            width: 1.75rem;
            height: 1.75rem;
            margin-left: 1rem;
        }

        span {
            font-size: 12px;
        }

        .alu-text {
            font-size: 13px;
        }
    }

    .main-section {
        margin-top: 80px;

        .content-middle {
            height: 100%;
            overflow-y: hidden;

            .account-title {
                justify-content: center;
                padding-top: 1rem;
            }

            .profile-form {
                min-height: 100%;
            }

            .posts {
                .card {
                    .card-body {
                        .card-text {
                            font-size: 14px;
                        }

                        .comment-btn {
                            font-size: 14px;
                        }
                    }
                }
            }

            .multi {
                .card {
                    .card-header {
                        .media {
                            margin-left: 0;

                            .media-body {
                                .media-title {
                                    font-size: 14px;
                                }

                                .body-content {
                                    .body-text {
                                        font-size: 14px !important;
                                    }
                                }
                            }
                        }
                    }

                    .card-body {
                        padding-left: 4.7rem;
                    }

                    .card-footer {
                        margin-bottom: 2rem;
                    }

                    &:nth-child(2) {
                        margin-bottom: 1.2rem;
                    }

                    &:last-child {
                        margin-bottom: 1.2rem;
                    }
                }
            }

            .card {
                .card-header {
                    small {
                        font-size: 14px;
                    }
                }
            }

            .profile-form {
                .drag-area {

                    header,
                    button {
                        font-size: 14px;
                    }
                }
            }
        }

        .right-content {
            height: 100%;
            overflow-y: hidden;

            .right-head {
                margin-top: 1.5rem;
            }

            .right-top {
                .card {
                    .card-header {
                        padding: 0;
                        // margin-top: 1.25rem;

                        .card-title {
                            font-size: 1rem;
                            padding: .6rem 0;
                            background: #F7F700;
                            text-align: center;
                        }
                    }

                    .card-body {
                        .media {
                            .media-body {
                                .media-text {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }

            .right-bottom {
                .card {
                    .card-body {
                        .card-text {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .form-group {
            label {
                font-size: 14px;
            }
        }
    }

    .main {
        // position: static;
        // height: 120vh;
        // overflow: hidden;

        .overlay {
            height: 100%;
            margin-bottom: 2rem;
        }

        .login-details {
            margin: 100px 0 0;
            padding: 0;

            .alumni-title {
                font-size: 1.75rem;
            }
        }

        .forgot-details {
            .forgot-title {
                font-size: 1.75rem;
            }

            .forgot-text {
                font-size: 14px;
            }
        }

        .alumni-img {
            img {
                width: 100px;
                height: 100px;
            }
        }

        .welcome {
            .welcome-title {
                font-size: 1.75rem;
            }

            .welcome-text {
                font-size: 14px;

                .success {
                    font-size: 18px;
                }
            }
        }
    }

    .reg-main {
        // height: auto;
        max-height: 100vh;
        // overflow-y: scroll;

        .form-header {
            display: flex;
            align-items: center;
            color: white;
            margin: 2rem 0 -1rem;
            overflow: hidden;

            &-left {
                margin-right: 1rem;

                &-img {
                    width: 70px;
                    height: 70px;
                }
            }
        }

        .register-form {
            overflow: hidden;
            border: none;
            margin-top: 0;
            max-height: 100vh;
            overflow-y: scroll !important;

            .register-title {
                font-size: 1.25rem;
                text-align: center !important;
            }

            .imag {
                display: inline-block;

                img {
                    width: 50px;
                    height: 50px;
                    margin-left: 0rem;
                }
            }

            .rig {
                margin-top: -3rem;
                margin-left: 1rem;

                .register-text {
                    font-size: 13px;
                    // margin-left: 1rem;
                    text-align: center;
                    margin-bottom: 0 !important;
                }
            }

            .register-text {
                font-size: 14px !important;
                color: $white;
                margin-bottom: 0;

                a {
                    text-decoration: none;
                    font-size: 14px !important;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .lead {
                font-size: 14px !important;
                color: $white;
            }

            .form-group,
            .input-group {
                font-size: 14px;

                .form-control {
                    background: transparent;
                    border: none;
                    border-bottom: solid 1.5px #707070;
                    color: #ffffff;

                    &::placeholder {
                        font-size: 14px;
                        color: #ffffff;
                    }
                }

                .input-group-text {
                    background: transparent;
                    border: none;
                    border-bottom: solid 1.5px #707070;
                    color: #ffffff;
                }
            }

            .form-check-label {
                font-size: 14px;
            }
        }

        .main.reg-main {
            height: auto !important;
        }

        .register-txt {
            font-size: 14px;
        }
    }

    .main-sec {
        .alumni {
            padding: 1.5rem 0;
        }

        .alumni-img img {
            margin-top: -150%;
        }

        .alumni-title {
            margin-top: -2.5rem;
        }
    }

    .welcome-main {
        height: 100vh;
        max-height: 100vh !important;
    }

    .post-btn,
    .change-btn {
        font-size: 14px;
    }

    .media-text,
    p,
    .card-text,
    .comment-btn {
        font-size: 14px;
    }

    .header.login-header,
    .header.welcome-header,
    .header.forgot-header {
        position: static !important;

        .brand {
            img {
                width: 60%;
            }
        }

        .alu-text {
            font-size: 1rem !important;
        }
    }

    .form-control {
        border-radius: 2px;
    }

    .register-text {
        font-size: 15px;
        text-align: center !important;
        margin-bottom: 1.5rem !important;
        margin-left: 0 !important;
    }


    .header.reg-header {
        position: static !important;

        .brand {
            img {
                width: 40%;
            }
        }
    }

    .footer {
        .left-side {
            img {
                margin: 0 auto;
            }
        }
    }
}

.mobile-menu {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 1;
    width: 100%;
    height: 100vh;

    .sidebar {
        width: 300px;
        height: 100%;
        margin-left: -13px;
        overflow-y: scroll;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 0;


        .top-nav {
            margin-bottom: 1rem;
            // display: flex;
            // flex-direction: column;
            // align-items: center;

            li {
                font-size: 14px;

                &:first-child {
                    list-style: none;
                    margin-left: -1.2rem;
                }

                .nav {
                    flex-direction: column;
                    text-align: left;
                    margin-left: 3rem;

                    li {
                        a {
                            font-size: .8rem;
                            display: block;
                            text-decoration: none;
                            margin-bottom: .25rem;
                            color: $black;
                            transform: all .4s ease-in-out;

                            &:hover {
                                color: $primary-color;
                            }
                        }
                    }
                }
            }
        }

        .nav {
            .nav-item {
                .nav-link {
                    font-size: 14px;
                }
            }
        }

        .close-icon {
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background: transparent;
            border: none;
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 1.25rem;

            i {
                transition: all .5s ease-in-out;
            }

            &:hover {
                i {
                    transform: rotate(360deg);
                    color: rgb(207, 21, 21);
                }
            }
        }
    }
}

.mobile-menu.show {
    left: 0;
    z-index: 123;
}

.main-section {
    margin-top: 0;
}

.reg-main {
    margin-top: 0;
}

.footer {
    overflow: hidden;

    .left-side {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: .5rem;
    }
}

@media(min-width: 768px) and (max-width: 1024px) {
    .reg-main {
        margin-top: 0;

        .reg-box {
            width: 100%;
        }
    }

    .register-form {
        border: none !important;

        .imag {
            display: inline-block;

            img {
                width: 70px !important;
                height: 70px !important;
            }
        }


        .register-title {
            text-align: left !important;
            margin-left: 1rem;
            font-size: 1rem !important;
        }

        .rig {
            margin-left: 1rem !important;
            margin-top: -2rem !important;
            text-align: left !important;

            .register-text {
                font-size: 13px;
                text-align: left !important;
            }

            .register-title {
                text-align: left !important;
                margin-left: 1rem;
                font-size: 1.2rem !important;
                margin-top: -1rem !important;
            }
        }
    }
}

@media (max-width: 414px) {
    .register-form {
        &-title {
            font-size: 1rem !important;
        }

        &-text {
            margin-bottom: 0 !important;
        }
    }
}