* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

/** VARIABLES */
$black: #000000;
$white: #ffffff;
$primary-font: 'Univers';
$secondary-font: 'Univers-Light-Normal';
$primary-color: #fcb415;

@font-face {
    font-family: 'Univers';
    src: url('../fonts/Univers-CondensedLight.woff2') format('woff2'),
        url('../fonts/Univers-CondensedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Univers-Light-Normal';
    src: url('../fonts/Univers-Light-Normal.woff2') format('woff2'),
        url('../fonts/Univers-Light-Normal.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: $secondary-font;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    overflow-x: hidden;
}

.form-control:focus {
    box-shadow: none;
    border-color: $primary-color;
}

.form-check-input:focus {
    box-shadow: none;
}

.form-control::placeholder {
    font-family: $primary-font;
    font-weight: 500;
    font-size: 1rem;
    text-align: left;
    color: #b0b0b0;
}

.form-group {
    label {
        span {
            color: $primary-color;
            font-weight: bold;
        }
    }
}

textarea {
    resize: none;
}

// .gj-datepicker {}
.input-group-append {
    .btn {
        width: 100%;
        height: 100%;
        z-index: 1;

        &:focus {
            box-shadow: none;
            border-color: $primary-color;
        }
    }
}

.form-control {
    text-align: left;
}