@import 'reset';
@import 'font';

/** VARIABLES */
$black: #000000;
$white: #ffffff;
$primary-font: 'Univers';
$secondary-font: 'Univers-Light-Normal';
$primary-color: #fcb415;

/** FONT FAMILY */
@font-face {
    font-family: 'Univers-Light-Normal';
    src: url('../fonts/Univers-Light-Normal.woff2') format('woff2'),
        url('../fonts/Univers-Light-Normal.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Univers';
    src: url('../fonts/Univers-CondensedLight.woff2') format('woff2'),
        url('../fonts/Univers-CondensedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/** HEADER SECTION START */
.header {
    background: $black;
    padding: .5rem 0;
    font-family: $primary-font;
    border-bottom: solid .5rem $primary-color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    .alu-text {
        font-family: $secondary-font;
        font-weight: 600;
        font-size: 32px;
        text-align: left;
        color: $primary-color;
        margin-left: 10px;
    }

    .alumni-icon {
        width: 31px;
        height: 31px;
    }

    .nav {
        .nav-item {
            .nav-link {
                color: $white;

                i {
                    font-size: 25px;
                }

                .fa-image {
                    font-size: 28px;
                }

                span {
                    transition: all .5s;
                }

                .icon-log {
                    font-size: 25px;
                }

                img {
                    width: 35px;
                    height: 35px;
                    margin-left: .5rem;
                }
            }

            &:hover {
                .nav-link {
                    color: $primary-color;

                    span {
                        color: $primary-color;
                    }
                }
            }
        }

        .nav-item.log {
            .nav-link {
                font-size: 25px;
                color: white;
            }
        }


        .dropdown {
            .dropdown-toggle {
                &::after {
                    border: none;
                }
            }

            .dropdown-menu {
                padding: 0;
                width: 200px;
                margin: 100px;

                li {
                    .dropdown-item {
                        display: block;
                        padding: 0.75rem;
                    }
                }
            }
        }
    }
}

/** HEADER SECTION END*/

/** MAIN SECTION START */
.main {
    background: url(../images/background.svg) no-repeat center center/cover;
    height: 100vh;
    position: relative;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
        z-index: 1;
    }

    .login-details {
        border-radius: 25px;
        background: rgba(0, 0, 0, 0.4);
        border: 3px solid $primary-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        margin-top: 2.5rem;
        margin-top: 110px;

        .alumni-img {
            width: 100px;
            height: 100px;
            margin: 0 auto 1rem;

            img {
                width: 100%;
            }
        }

        .alumni-title {
            font-family: $secondary-font;
            font-weight: bold;
            font-size: 43px;
            text-align: center;
            color: $white;
            margin-bottom: 2rem;
        }

        .login-form {

            .form-control {
                position: relative;
            }

            .pass {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                height: 100%;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }

            .forgot-link,
            .register-link {
                color: $primary-color;
                font-family: $secondary-font;
                text-decoration: none;
                transition: all .5s ease-in-out;

                &:hover {
                    text-decoration: underline;
                }
            }

            .forgot-link {
                font-size: 14px;
            }

            .login-btn {
                // width: 208px;
                // height: 56px;
                border-radius: 10px;
                background: #fcb415;
                margin-left: 1rem;
                font-family: $secondary-font;
                font-weight: 600;
                font-size: 1.25rem;
                padding: .35rem 1rem;
                border: none;
                border-radius: 2px;
                color: $black;
                transition: .5s ease-in-out;

                &:hover {
                    background: darken($color: $primary-color, $amount: 15%);
                }
            }

            .privacy-list {
                list-style: none;

                li {
                    // margin-right: 1rem;

                    .privacy-link {
                        font-family: $secondary-font;
                        font-weight: 500;
                        font-size: 15px;
                        text-align: left;
                        color: #818181;
                        text-decoration: none;
                        transition: all .5s ease-in-out;

                        &:hover {
                            color: $primary-color;
                        }
                    }

                    span {
                        color: #818181;
                        margin: 0 .25rem;
                        font-size: 1rem;
                    }
                }
            }

            .input-group {
                .input-group-text {

                    span,
                    i {
                        font-size: 1rem;
                    }

                    .icon-password {
                        font-size: 1.5rem;
                        padding-right: .5rem;
                    }
                }
            }
        }
    }

    .alumni-img {
        display: flex;
        align-items: center;

        height: 100%;
    }

    .welcome {
        border-radius: 25px;
        background: rgba(0, 0, 0, 0.4);
        border: 3px solid $primary-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        margin-top: 8rem;

        position: relative;

        .welcome-img {
            position: absolute;
            top: -62px;
            left: 50%;
            transform: translateX(-50%);
        }

        .welcome-title {
            font-family: $secondary-font;
            font-weight: bold;
            font-size: 53px;
            text-align: center;
            color: $primary-color;
            margin-top: 60px;
        }

        .welcome-text {
            font-family: $secondary-font;
            font-style: normal;
            font-size: 18px;
            line-height: 1.5;
            text-align: center;
            color: $white;

            span {
                color: $primary-color;
            }

            .success {
                font-size: 35px;
            }
        }
    }

    .forgot-details {
        border-radius: 25px;
        background: rgba(0, 0, 0, 0.4);
        border: 3px solid $primary-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
        margin-top: 3rem;
        margin-top: 110px;
        padding: 1rem;

        .forgot-title {
            font-size: 2.5rem;
            color: $white;
        }

        .forgot-text {
            font-size: 1.25rem;
            color: $white;
        }

        .input-group {
            margin: 1.25rem 0 2rem;
        }

        .forgot-btn {
            padding: .5rem 1rem;
            border: none;
            background: $primary-color;
            transition: all .5s ease-in-out;

            &:hover {
                background: darken($color: $primary-color, $amount: 20%);
            }
        }
    }

    .back-to {
        margin: 1.5rem 0;
        font-size: 1rem;
        color: $primary-color;
        text-decoration: none;
        transition: all .5s ease;

        &:hover {
            text-decoration: underline;
        }
    }
}

.main-section {
    background: #1f1f1f;
    padding: 1.5rem 0;
    margin-top: 75px;

    /* SIDEBAR */
    .sidebar {
        background: $white;
        padding: 1.2rem 0;
        position: fixed;
        overflow: hidden;
        top: 75px;
        overflow-y: scroll;
        height: 100%;
        max-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .sidebar-img {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;

            img {
                width: 80px;
                height: 80px;
            }

            .edit-btn {
                display: block;
                margin-top: 3rem;
                color: #707070;
                transition: .4s;

                &:hover {
                    color: $primary-color;
                }
            }
        }

        .sidebar-title {
            font-weight: bold;
            font-size: 20px;
            text-align: center;
        }

        .top-nav {
            margin-bottom: 100px;

            li {
                font-size: .9rem;

                &:first-child {
                    list-style: none;
                    margin-left: -1.2rem;
                }

                .nav {
                    flex-direction: column;
                    text-align: left;
                    margin-left: 3rem;

                    li {
                        a {
                            font-size: .8rem;
                            display: block;
                            text-decoration: none;
                            margin-bottom: .25rem;
                            color: $black;
                            transform: all .4s ease-in-out;

                            &:hover {
                                color: $primary-color;
                            }
                        }
                    }
                }
            }
        }

        .nav {
            .nav-item {
                .nav-link {
                    font-family: $secondary-font;
                    font-weight: 500;
                    font-size: 1rem;
                    color: #b4b4b4;
                    transition: all .5s ease-in-out;
                    border-bottom: solid 1.5px #e4e4e4;

                    &:last-child {
                        border-bottom: 0;
                    }

                    .nav-text {
                        margin-left: .5rem;
                    }

                    .icon-user1,
                    .icon-user2,
                    .icon-star,
                    .icon-settings,
                    .icon-logout {
                        font-size: 1.1rem;
                    }

                    &:hover {
                        color: $primary-color
                    }
                }
            }

            .nav-item.active {
                .nav-link {
                    color: $primary-color;
                    font-weight: bold;
                }
            }
        }
    }

    /* MIDDLE CONTENT */
    .content-middle {
        background: #F2F2F2;
        min-height: 100%;
        background: white;
        // max-height: 100vh;
        overflow: hidden;
        padding-top: 45px;

        .account-title {
            padding-top: 1rem;
            margin-left: -.5rem;
        }

        /* POST FORM */
        .post-form {
            background: #F2F2F2;
            padding: 75px 1rem 1rem;

            .form-control {
                resize: none;
                background: $white;
                margin-bottom: 1rem;
            }

            .nav {
                .nav-item {
                    margin-right: 1rem;

                    button {
                        border: none;
                        background-color: transparent;
                        outline: none;
                        font-size: 1.25rem;
                        color: #707070;
                        transition: all .5s ease-in-out;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }

            .post-btn {
                font-family: $secondary-font;
                font-weight: 600;
                background: $primary-color;
                border: none;
                padding: .5rem 1.5rem;
                border-radius: 3px;

                &:hover {
                    background: darken($color: $primary-color, $amount: 10%)
                }
            }
        }

        /* POSTS */
        .posts {
            .card {
                border: none;
                border-radius: 0;
                border-bottom: 1.5px solid #e4e4e4;

                .card-header {
                    .media {
                        .media-body {
                            margin: 1rem 0 0 .5rem;

                            .media-title {
                                font-weight: 600;
                                color: #595959;
                                margin-top: 1rem;
                                font-family: $secondary-font;
                                margin-bottom: 0;
                            }

                            .media-text {
                                font-size: 14px;
                                font-weight: 500;
                                color: #595959;
                                font-family: $secondary-font;
                            }
                        }

                        small {
                            font-weight: 600;
                            color: $black;
                            font-family: $secondary-font;
                        }
                    }
                }

                .card-body {
                    margin-top: -1.5rem;

                    .card-text {
                        font-family: $secondary-font;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 16px;
                        text-align: left;
                    }

                    .card-img {
                        margin-bottom: 1rem;
                        overflow: hidden;

                        img {
                            transition: all .5s;

                            &:hover {
                                transform: scale(1.2);
                            }
                        }
                    }

                    .nav {
                        .nav-item {
                            display: flex;
                            align-items: center;
                            margin-right: .75rem;

                            button {
                                background-color: transparent;
                                border: none;
                                outline: none;
                                margin-right: .4rem;
                                display: flex;
                                align-items: center;

                                span {
                                    font-size: 20px;
                                    font-weight: 500;
                                    transition: all .5s ease-in-out;
                                }

                                &:hover {
                                    span {
                                        color: $primary-color;
                                    }
                                }
                            }

                            span {
                                font-family: $secondary-font;
                                font-weight: 500;
                                font-size: 15px;
                                line-height: 14px;
                                text-align: left;
                                color: #a7a9ac;
                            }
                        }
                    }

                    .comment-btn {
                        background: transparent;
                        border: none;
                        color: $black;
                        font-family: $secondary-font;
                        font-size: 1rem;
                        font-weight: 500;
                        transition: all .5s ease-in-out;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }

                .card-footer {
                    border: none;

                    .comment-box {
                        display: none;
                        margin-top: -.5rem;
                    }
                }
            }
        }

        .account-title {
            font-weight: bold;
            font-size: 25px;
            text-align: left;
            color: #595959;
            font-family: $primary-font;

            img {
                margin: .5rem .5rem .5rem 1.5rem;
            }
        }

        /* PROFILE FORM */
        .profile-form {
            padding: 1rem;
            overflow-x: hidden;

            .group {
                margin-bottom: 1.5rem;
                padding: 1rem 0;

                .col-1 {
                    height: 244px;
                    margin-top: -1rem;
                }

                .title {
                    height: 100%;
                    writing-mode: vertical-rl;
                    transform: rotate(180deg);
                    text-align: center;
                    padding-top: 0;
                    position: relative;
                    margin-right: -1rem;


                    h5 {
                        border-top: solid 1px $black;
                        border-bottom: solid 1px $black;
                        margin-top: 0;
                        color: #595959;
                        font-size: 1rem;
                        // margin-right: -1rem;
                        margin-bottom: 0;


                        span {
                            position: relative;
                            display: inline-block;
                            // margin-right: -1rem;

                            &::before {
                                content: '';
                                position: absolute;
                                bottom: -45px;
                                left: -11px;
                                width: 60px;
                                height: 1px;
                                background: $black;
                                transform: rotate(90deg);
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                top: -45px;
                                left: -11px;
                                width: 60px;
                                height: 1px;
                                background: $black;
                                transform: rotate(90deg);
                            }
                        }
                    }
                }
            }

            .group2 {
                .col-1 {
                    height: 350px;
                }


                .title {
                    height: 100%;
                    writing-mode: vertical-rl;
                    transform: rotate(180deg);
                    text-align: center;
                    padding-top: 0;
                    position: relative;
                    margin-right: -1rem;


                    h5 {
                        border-top: solid 1px $black;
                        border-bottom: solid 1px $black;
                        margin-top: 0;
                        color: #595959;
                        margin-bottom: 0;

                        span {
                            position: relative;
                            display: inline-block;
                            // margin-right: -1rem;

                            &::before {
                                content: '';
                                position: absolute;
                                bottom: -83px;
                                left: -11px;
                                width: 60px;
                                height: 1px;
                                background: $black;
                                transform: rotate(90deg);
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                top: -83px;
                                left: -11px;
                                width: 60px;
                                height: 1px;
                                background: $black;
                                transform: rotate(90deg);
                            }
                        }
                    }
                }
            }

            .group3 {
                .col-1 {
                    height: 360px;
                }

                .title {
                    height: 100%;
                    writing-mode: vertical-rl;
                    transform: rotate(180deg);
                    text-align: center;
                    padding-top: 0;
                    position: relative;
                    margin-right: -1rem;


                    h5 {
                        border-top: solid 1px $black;
                        border-bottom: solid 1px $black;
                        margin-top: 0;
                        color: #595959;
                        margin-bottom: 0;

                        span {
                            position: relative;
                            display: inline-block;
                            // margin-right: -1rem;

                            &::before {
                                content: '';
                                position: absolute;
                                bottom: -61px;
                                left: -11px;
                                width: 60px;
                                height: 1px;
                                background: $black;
                                transform: rotate(90deg);
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                top: -61px;
                                left: -11px;
                                width: 60px;
                                height: 1px;
                                background: $black;
                                transform: rotate(90deg);
                            }
                        }
                    }
                }
            }

            .group4 {
                .title {
                    height: 100%;
                    writing-mode: vertical-rl;
                    transform: rotate(180deg);
                    text-align: center;
                    padding-top: 0;
                    position: relative;
                    margin-right: -1rem;


                    h5 {
                        border-top: solid 1px $black;
                        border-bottom: solid 1px $black;
                        margin-top: 0;
                        color: #595959;
                        margin-bottom: 0;

                        span {
                            position: relative;
                            display: inline-block;
                            // margin-right: -1rem;

                            &::before {
                                content: '';
                                position: absolute;
                                bottom: -21px;
                                left: 4px;
                                width: 30px;
                                height: 1px;
                                background: $black;
                                transform: rotate(90deg);
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                top: -21px;
                                left: 4px;
                                width: 30px;
                                height: 1px;
                                background: $black;
                                transform: rotate(90deg);
                            }
                        }
                    }
                }
            }

            .form-drag {
                width: 190px;
                height: 190px;
                border: dotted 1.5px #d0d0d0;
                background: #f7f7f7;
            }

            .drag-area {
                width: 100%;
                height: 100%;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin: 0 auto 1rem;
                background: #efefef;
                border-radius: 50%;
                padding: 10px;

                .icon {
                    font-size: 30px;
                    color: $primary-color;
                }

                header {
                    font-size: 1rem;
                    font-weight: 500;
                    color: $black;
                    font-family: $secondary-font;
                }

                span {
                    font-size: 1rem;
                    font-weight: 500;
                    color: $black;
                    margin: 10px 0 15px 0;
                    font-family: $secondary-font;
                }

                button {
                    padding: 0;
                    font-size: 1rem;
                    border: none;
                    outline: none;
                    background: transparent;
                    border-bottom: solid 1px;
                    border-radius: 0;
                    cursor: pointer;
                    margin-bottom: 15px;
                    color: #fcb415;
                    font-family: $secondary-font;
                    margin-top: .75rem;
                    margin-left: .5rem;
                    font-weight: 600;
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }

            .drag-area.active {
                border: 1px solid $primary-color;
            }

            .change-btn {
                background: $primary-color;
                border: none;
                padding: .5rem 1.5rem;
                border-radius: 3px;
                font-size: 1rem;
                font-weight: 600;

                &:hover {
                    background: darken($color: $primary-color, $amount: 10%);
                }
            }

            textarea {
                resize: none;
            }

            .add-more {
                background: $primary-color;
                border: none;
                color: $black;
                font-family: $secondary-font;
                font-size: 1rem;
                font-weight: 500;
                transition: all .5s ease-in-out;
                padding: .4rem;
                border-radius: 3px;

                &:last-child {
                    margin-bottom: 2rem;
                }
            }
        }

        /* MULTI POSTS */
        .multi {
            background: #f9f9f9;

            .card {
                border: none;
                border-radius: 0;
                border-bottom: 1.5px solid #e4e4e4;
                background: transparent;

                .card-header {
                    .media {
                        margin-left: 25px;

                        .media-img {
                            margin-top: .5rem;
                        }

                        .media-body {

                            .media-title {
                                font-size: 15px;
                                font-weight: 500;
                                color: #595959;
                                margin-top: 2rem;
                            }

                            .media-text {
                                font-size: 13px;
                                font-weight: 300;
                                color: #595959;
                            }



                            .body-content {
                                hr {
                                    border-top: 1.5px;
                                    border-bottom: none;
                                }

                                .card {
                                    border: none;
                                    border-radius: 0;
                                    border-bottom: 1.5px solid #e4e4e4;

                                    &:last-child {
                                        border-bottom: none;
                                    }

                                    .card-header {
                                        padding: 0;

                                        .media {
                                            margin-left: 0;

                                            .media-img {
                                                margin-top: .5rem;
                                            }

                                            .media-body {
                                                .media-title {
                                                    font-size: 15px;
                                                    font-weight: 500;
                                                    color: #595959;
                                                    margin-top: 2rem;
                                                }

                                                .media-text {
                                                    font-size: 13px;
                                                    font-weight: 300;
                                                    color: #595959;
                                                }

                                                .body-content {
                                                    margin-bottom: .25rem;

                                                    .body-text {
                                                        font-weight: 300;
                                                        font-size: 14px;
                                                        line-height: 16px;
                                                        text-align: left;
                                                    }

                                                    small {
                                                        margin-top: .4rem;
                                                        display: inline-block;
                                                        font-size: 13px;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .card-body {
                                        padding-left: 4.7rem;
                                        margin-top: -1.75rem;

                                        textarea {
                                            margin-bottom: .5rem;
                                        }

                                        .post-comment {
                                            font-family: $secondary-font;
                                            font-weight: bold;
                                            font-size: 12px;
                                            text-align: center;
                                            color: $black;
                                            border: none;
                                            background: $primary-color;
                                            padding: .25rem;
                                            border-radius: .25rem;
                                        }

                                        .card-img {
                                            margin-bottom: 1rem;
                                            overflow: hidden;

                                            img {
                                                transition: all .5s;

                                                &:hover {
                                                    transform: scale(1.2);
                                                }
                                            }
                                        }

                                        .nav {
                                            .nav-item {
                                                display: flex;
                                                align-items: center;
                                                margin-right: .75rem;

                                                button {
                                                    background-color: transparent;
                                                    border: none;
                                                    outline: none;
                                                    margin-right: .4rem;
                                                    font-size: 1.2rem;
                                                }

                                                span {
                                                    font-weight: 300;
                                                    font-size: 13px;
                                                    line-height: 14px;
                                                    text-align: left;
                                                    color: #a7a9ac;
                                                }
                                            }
                                        }

                                        .comment-btn {
                                            background: transparent;
                                            border: none;
                                            color: $black;
                                            font-size: 14px;
                                        }
                                    }

                                    .card-footer {
                                        border: none;

                                        .comment-box {
                                            opacity: 0;
                                            visibility: hidden;
                                        }
                                    }
                                }

                                .card2 {
                                    border: none;
                                    border-radius: 0;
                                    border-bottom: 1.5px solid #e4e4e4;

                                    .card-header {
                                        padding: 0;

                                        .media {
                                            margin-left: 0;

                                            .media-img {
                                                margin-top: .5rem;
                                            }

                                            .media-body {
                                                .media-title {
                                                    font-size: 15px;
                                                    font-weight: 500;
                                                    color: #595959;
                                                    margin-top: 2rem;
                                                }

                                                .media-text {
                                                    font-size: 13px;
                                                    font-weight: 300;
                                                    color: #595959;
                                                }

                                                .body-content {
                                                    .body-text {
                                                        font-weight: 300;
                                                        font-size: 14px;
                                                        line-height: 16px;
                                                        text-align: left;
                                                    }

                                                    small {
                                                        margin-top: .4rem;
                                                        display: inline-block;
                                                        font-size: 13px;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .card-body {
                                        padding-left: 3.7rem;
                                        margin-top: -1.75rem;

                                        textarea {
                                            margin-bottom: .5rem;
                                        }

                                        .post-comment {
                                            font-family: $secondary-font;
                                            font-weight: bold;
                                            font-size: 12px;
                                            text-align: center;
                                            color: $black;
                                            border: none;
                                            background: $primary-color;
                                            padding: .25rem;
                                            border-radius: .25rem;
                                        }

                                        .card-img {
                                            margin-bottom: 1rem;
                                            overflow: hidden;

                                            img {
                                                transition: all .5s;

                                                &:hover {
                                                    transform: scale(1.2);
                                                }
                                            }
                                        }

                                        .nav {
                                            .nav-item {
                                                display: flex;
                                                align-items: center;
                                                margin-right: .75rem;

                                                button {
                                                    background-color: transparent;
                                                    border: none;
                                                    outline: none;
                                                    margin-right: .4rem;
                                                    font-size: 1.2rem;
                                                }

                                                span {
                                                    font-weight: 300;
                                                    font-size: 13px;
                                                    line-height: 14px;
                                                    text-align: left;
                                                    color: #a7a9ac;
                                                }
                                            }
                                        }

                                        .comment-btn {
                                            background: transparent;
                                            border: none;
                                            color: $black;
                                            font-size: 14px;
                                        }
                                    }

                                    .card-footer {
                                        border: none;

                                        .comment-box {
                                            opacity: 0;
                                            visibility: hidden;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .card-body {
                    padding-left: 7.7rem;
                    margin-top: -1.75rem;

                    textarea {
                        margin-bottom: .5rem;
                        text-align: left;
                    }

                    .post-comment {
                        font-family: $secondary-font;
                        font-weight: bold;
                        font-size: 12px;
                        color: $black;
                        border: none;
                        background: $primary-color;
                        padding: .25rem;
                        border-radius: .25rem;
                    }

                    .card-img {
                        margin-bottom: 1rem;
                        overflow: hidden;

                        img {
                            transition: all .5s;

                            &:hover {
                                transform: scale(1.2);
                            }
                        }
                    }

                    .nav {
                        .nav-item {
                            display: flex;
                            align-items: center;
                            margin-right: .75rem;

                            button {
                                background-color: transparent;
                                border: none;
                                outline: none;
                                margin-right: .4rem;
                                font-size: 1.2rem;
                            }

                            span {
                                font-weight: 300;
                                font-size: 13px;
                                line-height: 14px;
                                text-align: left;
                                color: #a7a9ac;
                            }
                        }
                    }

                    .comment-btn {
                        background: transparent;
                        border: none;
                        color: $black;
                        font-size: 14px;
                    }
                }

                .card-footer {
                    border: none;

                    .comment-box {
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }
        }
    }

    /* RIGHT CONTENT */
    .right-content {
        margin-top: 55px;

        .right-head {
            margin-bottom: 1.5rem;

            .card {
                border-radius: 0;

                .card-header {
                    background: transparent;
                    border: none;

                    .card-title {
                        font-family: $primary-font;
                        font-size: 18px;
                        color: #000;
                        font-weight: 600;
                        text-align: left;
                    }
                }

                .card-body {
                    text-align: left;
                    padding-top: 0;

                    ul {
                        list-style: none;

                        li {
                            position: relative;
                            margin-bottom: .5rem;
                            margin-left: -.8rem;
                            font-size: 15px;
                            font-weight: 500;
                            color: #000;

                            &::before {
                                position: absolute;
                                content: "-";
                                top: -.25rem;
                                left: -15px;
                                font-size: 18px;
                            }

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }

        .right-top {
            margin-bottom: 1.5rem;

            .card {
                border: none;
                border-radius: 0;

                .card-header {
                    padding: 0;
                    background: none;
                    border-bottom: none;

                    .card-title {
                        font-family: $primary-font;
                        font-size: 18px;
                        padding: .5rem 0 .5rem 1rem;
                        text-align: left;
                        font-weight: 600;
                    }
                }

                .card-body {
                    max-height: 180px;
                    overflow-y: scroll;
                    overflow-x: hidden;

                    .media {
                        border-bottom: solid 1px #e4e4e4;
                        margin-bottom: 1rem;

                        .media-title {
                            font-family: $primary-font;
                            font-size: 15px;
                            color: #595959;
                            text-align: left;
                            margin: 1rem 0 0 0;
                            width: 80px;
                            overflow: hidden; // make sure it hides the content that overflows
                            white-space: nowrap; // don't break the line 
                            text-overflow: ellipsis;
                            font-weight: 600;
                        }

                        .text {
                            font-size: 14px;
                            font-weight: 500;
                        }

                        .media-body {
                            margin-left: .3rem;

                            .media-text {
                                font-size: 15px;
                                color: $black;
                                text-align: left;
                                font-weight: 500;
                            }
                        }

                        &:last-child {
                            border-bottom: 0;
                        }
                    }

                    .read-more {
                        display: inline-block;
                        text-align: center;
                        background: $primary-color;
                        text-decoration: none;
                        color: black;
                        padding: .4rem;
                        border-radius: 3px;
                        font-size: 12px;
                        margin: .5rem 0 .75rem;
                    }
                }
            }
        }

        .right-bottom {
            .card {
                border: none;
                border-radius: 0;

                .card-header {
                    background: transparent;
                    border: none;

                    .card-title {
                        font-family: $primary-font;
                        font-size: 17px;
                        // padding: .5rem 1rem;
                        text-align: left;
                        font-weight: 600;
                    }
                }

                .card-img {
                    overflow: hidden;
                    border-radius: 0;

                    .card-img-top {
                        transition: all .5s ease-in-out;

                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }

                .card-body {
                    padding-bottom: 0;

                    .card-text {
                        font-size: 15px;
                        font-weight: 500;
                        color: #000;
                    }

                    .read-more {
                        display: inline-block;
                        text-align: center;
                        background: $primary-color;
                        text-decoration: none;
                        color: black;
                        padding: .4rem;
                        border-radius: 3px;
                        font-size: 12px;
                        margin: .5rem 0 25px;

                        &:last-child {
                            border-bottom: none;
                        }
                    }


                }
            }
        }

        // .top-animation {
        //     // position: absolute;
        //     overflow: hidden;

        //     animation: marquee 5s linear infinite;
        // }

        // @keyframes marquee {
        //     0% {
        //         top: 0;
        //     }

        //     100% {
        //         top: -100%;
        //     }
        // }

        // .down-animation {
        //     animation: vlt_marquee 5s linear infinite;
        //     animation-duration: 9.8587s;
        //     overflow: hidden;
        // }

        // // @keyframes vlt_marquee {
        // //     @keyframes marquee {
        // //         0% {
        // //             left: 0;
        // //         }

        // //         100% {
        // //             left: -100%;
        // //         }
        // //     }
        // // }
    }
}

.reg-main {
    background: url(../images/background.svg) no-repeat center center/cover;
    position: relative;
    margin-top: 75px;
    overflow-y: scroll;
    min-height: 100vh;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 120%;
    }

    .register-form {
        border-radius: 25px;
        background: rgba(0, 0, 0, 0.4);
        border: 3px solid $primary-color;
        margin-top: 2.5rem;
        padding: 1.75rem;
        font-family: $secondary-font;
        position: relative;
        margin-top: 110px;
        z-index: 1;

        .register-title {
            font-family: $secondary-font;
            font-weight: bold;
            font-size: 25px;
            text-align: left !important;
            color: $white;
            text-align: center;
        }

        .privacy-title {
            font-family: $secondary-font;
            font-weight: bold;
            font-size: 25px;
            text-align: left !important;
            color: $primary-color;
            text-align: center;
        }


        .privacy-text {
            font-family: $secondary-font;
            font-weight: 500;
            font-size: 17px !important;
            text-align: left;
            color: #A3A3A3;
            display: block;
            text-align: center;
        }

        .slider {
            position: relative;

            .single-item {
                p {
                    text-align: justify;
                    padding: 1rem;
                }
            }

            .slick-prev {
                top: auto;
                bottom: -25px;
                left: auto;
                right: 50px;
                background: $primary-color;
                padding: 1rem;
                border-radius: 50%;
                z-index: 1;
                color: white;
                font-size: 15px;

                i {
                    font-size: 1rem;
                }

                &::before {
                    // content: '';
                    position: absolute;
                    left: 20%;
                    top: 15%;
                    font-size: 1.25rem;
                    color: black;
                    font-weight: bold;
                }
            }

            .slick-next {
                top: auto;
                bottom: -25px;
                right: 0;
                background: $primary-color;
                padding: 1rem;
                border-radius: 50%;
                z-index: 1;

                &::before {
                    // content: '';
                    position: absolute;
                    left: 20%;
                    top: 15%;
                    font-size: 1.25rem;
                    color: black;
                    font-weight: bold;
                }
            }
        }

        .register-text {
            font-family: $secondary-font;
            font-weight: 500;
            font-size: 17px !important;
            text-align: left;
            color: #ddd;
            display: block;
            text-align: center;
        }

        .form-control {
            font-size: 1rem;
            position: relative;
        }

        .pass {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            height: 100%;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .register-btn {
            padding: .75rem 2rem;
            border: none;
            background: $primary-color;
            transition: all .5s ease-in-out;
            font-family: $secondary-font;
            font-weight: 600;
            border-radius: .25rem;

            &:hover {
                background: darken($color: $primary-color, $amount: 20%);
            }
        }

        .form-check-label {
            color: $white;
            font-size: 1rem;
            margin-bottom: 1.5rem;

            .term-use {
                color: $primary-color;
                transition: all .5s ease-in-out;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .input-group {
            .input-group-text {

                span,
                i {
                    font-size: 1rem;
                }

                .icon-password {
                    padding-right: .25rem;
                    font-size: 1.5rem;
                }

                .fa-phone-alt {
                    font-size: 1.25rem;
                }
            }
        }
    }

    .register-txt {
        font-family: $secondary-font;
        font-weight: 500;
        font-size: 20px !important;
        color: #ddd;
        margin-bottom: 1.75rem !important;

        a {
            text-decoration: none;
            color: $primary-color;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/** MAIN SECTION END */


/** FOOTER SECTION START */
.footer {
    background: $black;
    padding: 16px;
    font-weight: 600;
    border-top: solid .25rem $primary-color;
    position: sticky;
    bottom: 0;
    overflow: hidden;
    z-index: 1;

    .left-side {

        img {
            cursor: pointer;
            margin-right: auto;
        }
    }

    .right-side {
        &-text {
            color: $white;
            font-weight: 600;
            font-size: 12px;

            span::selection {
                color: $primary-color;
            }

            &::selection {
                color: $primary-color;
            }
        }
    }
}

/** FOOTER SECTION END*/


/** RESPONSIVE DESIGN START HERE */
@import 'mobile';
/** RESPONSIVE DESIGN END HERE */